#navbar{
    height: 50px;
    width: 900px; 
    background-color: pink; 
    border: 2px solid lightseagreen; 
    display: flex; 
    border-radius: 10px;  
    justify-content: flex-start; 
    align-content: center; 

}

.a{
    height: 50px;
    width: 80px; 
    font-size: 24px; 
    margin-left: 5px; 
    line-height: 50px; 
    
}